/* This give border-box to all elements and pseudo-elements */
*, ::after, ::before {
    box-sizing: border-box;
}


/* Setting up variables */

:root{
    --cell-size: 100px;
    --mark-size: cal(var(--cell-size) * 0.9);
}